body {
    font-family: Helvetica, sans-serif;
}

#chessBoard {
    display: grid;
    width: 640px;
    height: 640px;
    grid-template-rows: repeat(8, 80px);
    grid-template-columns: repeat(8, 80px);
    margin: 0 auto;
    position: absolute;
    top: 80px; bottom: 0; left: 0; right: 0;
}

.chessSquareWhite, .chessSquareBlack {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    text-transform: uppercase 
}

.chessSquareWhite{
    background-color: antiquewhite;
}

.chessSquareBlack {
    background-color: rgb(182, 150, 119);
}

#knightPic {
    height: 40px;
}